:root {
    --white: #ffffff;
    --grey: #979797;
    --grey-info: #9495a5;
    --grey-light-completed: #d1d2da;
    --grey-light-decoration: #e3e4f1;
    --grey-blue-info: #5b5e7e;
    --grey-light-cross: #d8d8d8;
    --grey-task: #c8cbe7;
    --grey-new-task: #767992;
    --grey-dark-completed: #4d5067;
    --grey-blue-task: #494c6b;
    --grey-black: #25273d;
    --grey-dark: #393a4b;
    --blue-active: #3a7cfd;
    --dark-theme-background: #171823;

    --shadow: 15px 35px 50px -15px rgba(194, 195, 214, 0.5),
    -15px 35px 50px -15px rgba(194, 195, 214, 0.5);
    --border-radius: 5px;
    --mobile-width: 375px;
    --desktop-width: 580px;
}

*, 
*::after, 
*::before {
    box-sizing: border-box;
}

.button {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-family: 'Josefin Sans', Arial, sans-serif;
    font-weight: 400;
    background-color: transparent;
    border-style: none;
    border-radius: 0;
    cursor: url('/img/pointer.svg'), pointer;
}

.container {
    width: var(--mobile-width);
    margin: 0 auto;
    padding: 0 24px;
}

@media (min-width: 1440px) {
    .container {
        width: var(--desktop-width);
        padding: 0 20px;
    }
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.page__body {
    margin: 0;
    font-family: 'Josefin Sans', Arial, sans-serif;
    font-weight: 400;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 375px 200px;
}

@media (min-width: 1440px) {
    .page__body {
        background-size: 1440px 300px;
    }
}

.page__body {
    background-image: url('/img/background-mobile.jpg');
}

@media (min-width: 1440px) {
    .page__body {
        background-image: url('/img/background-desktop.jpg');
    }
}

.page__body--dark-theme {
    background-color: var(--dark-theme-background);
    background-image: url('/img/background-mobile-dark.jpg');
}

@media (min-width: 1440px) {
    .page__body--dark-theme {
        background-image: url('/img/background-desktop-dark.jpg');
    }
}

.page-header {
    padding-top: 48px;
    padding-bottom: 40px; 
}

.page-header__container {
    display: flex;
    flex-wrap: wrap;
}

.page-header__logo {
    margin-right: auto;
}

.theme-toggle {
    width: 20px;
    height: 20px;
    background-image: url('/img/moon-icon.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.theme-toggle {
    background-image: url('/img/moon-icon.svg');
}

.page__body--dark-theme .theme-toggle {
    background-image: url('/img/light-icon.svg');
}

.page-main__new-task {
    margin-bottom: 16px;
}

.new-task {
    position: relative;
}

.new-task__input {
    padding: 18px 52px;
    width: 100%;
    font-family: 'Josefin Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: var(--grey-dark);
    border: none;
    border-radius: var(--border-radius);
    caret-color: var(--blue-active);
}

.new-task__input--completed {
        color: var(--grey-light-completed);
        text-decoration: line-through;
}

.page__body--dark-theme .new-task__input--completed {
    color: var(--grey-dark-completed);
}

.new-task__input::placeholder {
    color: var(--grey-info);
}

.page__body--dark-theme .new-task__input {
    color: var(--grey-task);
    background-color: var(--grey-black);
}

.page__body--dark-theme .new-task__input::placeholder {
    color: var(--grey-new-task);
}

.checkbox {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
	-moz-appearance: none;
    margin: 0;
    width: 20px;
    height: 20px;
    border: 1px solid var(--grey-light-decoration);
    border-radius: 50%;
    cursor: url('/img/pointer.svg'), pointer;
}

.new-task__checkbox {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.page__body--dark-theme .checkbox {
    border: 1px solid var(--grey-dark);
}

.checkbox:hover,
.checkbox:focus {
    border: none;
    background-image: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
}

.checkbox:hover::before,
.checkbox:focus::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--white);
}

.page__body--dark-theme .checkbox:hover::before,
.page__body--dark-theme .checkbox:focus::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--grey-black);
}

.checkbox:checked {
    border: none;
    background-image: url(/img/check-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
}

.checkbox:checked:hover,
.checkbox:checked:focus {
    background-image: url(/img/check-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
}

.checkbox:checked:hover::before,
.checkbox:checked:focus::before {
    display: none;
}

.page-main__tasks {
    margin-bottom: 16px;
    background-color: var(--white);
}

.page__body--dark-theme .page-main__tasks {
    background-color: var(--grey-black);
}

.tasks {
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

.page__body--dark-theme .tasks {
    background-color: var(--grey-black);
    box-shadow: none;
}

.tasks__list {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.tasks__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 16px 20px;
    font-size: 12px;
    line-height: 12px;
    color: var(--grey-blue-task);
    background-color: var(--white);
    border-bottom: 1px solid var(--grey-light-decoration);
}

.tasks__alarm {
    padding: 15px;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: var(--blue-active);
    background-color: var(--white);
}

.page__body--dark-theme .tasks__alarm {
    background-color: var(--grey-black);
}

.page__body--dark-theme .tasks__item {
    color: var(--grey-task);
    background-color: var(--grey-black);
    border-bottom-color: var(--grey-dark);
}

.tasks__item--completed {
    color: var(--grey-light-completed);
    text-decoration: line-through;
}

.page__body--dark-theme .tasks__item--completed {
    color: var(--grey-dark-completed);
}

.tasks__checkbox {
    margin-right: 12px;
}

.tasks__text {
    margin: 0;
    margin-right: auto;
    padding: 0;
    cursor: url('/img/pointer.svg'), pointer;
}

.close-button {
    width: 12px;
    height: 12px;
    background-image: url('/img/cross-icon.svg');
    background-size: 12px;
    background-position: center;
    background-repeat: no-repeat;
}

.control {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 16px 20px 20px 20px;
    font-size: 12px;
    line-height: 12px;
    color: var(--grey-info);
}

@media (min-width: 1440px) {
    .control {
        justify-content: flex-start;
    }
}

.page__body--dark-theme .control {
    color: var(--grey-blue-info);
}

.control__info {
    margin-right: 96px;
}

.clear-button {
    font-size: 12px;
    line-height: 12px;
    color: var(--grey-info);
}

.clear-button:hover,
.clear-button:focus {
    color: var(--grey-blue-task);
}

.page__body--dark-theme .clear-button {
    color: var(--grey-blue-info);
}

.page__body--dark-theme .clear-button:hover,
.page__body--dark-theme .clear-button:focus {
    color: var(--grey-light-decoration);
}

.page-main__filter {
    margin-bottom: 16px;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 15px 30px 19px 30px;
    background-color: var(--white);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
}

@media (min-width: 1440px) {
    .filter {
        display: none;
    }
}

.filter--desktop {
    display: none;
}

@media (min-width: 1440px) {
    .filter--desktop {
        display: flex;
        padding: 0;
        margin-right: auto;
    }
}

.page__body--dark-theme .filter {
    background-color: var(--grey-black);
    box-shadow: none;
}

.filter__item {
    margin-right: 18px;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: var(--grey-info);
    cursor: url('/img/pointer.svg'), pointer;
}

.filter__item:last-child {
    margin-right: 0;
}

.filter__item:hover,
.filter__item:focus {
    color: var(--grey-blue-task);
}

.page__body--dark-theme .filter__item {
    color: var(--grey-blue-info);
}

.page__body--dark-theme .filter__item:hover,
.page__body--dark-theme .filter__item:focus {
    color: var(--grey-light-decoration);
}

.filter .filter__item--active {
    color: var(--blue-active);
}

.filter .filter__item--active:hover,
.filter .filter__item--active:focus {
    color: var(--blue-active);
}

.page-footer {
    padding-top: 24px;
    padding-bottom: 72px; 
}

.page-footer__tip {
    margin: 0;
    padding: 0;
    padding: 10px;
    font-size: 14px;
    line-height: 14px;
    color: var(--grey-info);
    text-align: center;
    border-radius: var(--border-radius);
    background-color: var(--white);
}

.page__body--dark-theme .page-footer__tip {
    color: var(--grey-blue-info);
    background-color: var(--dark-theme-background);
}